* {
   
    
  }

main {
  display: flex;
  padding-top: 15px;
  background-color: tomato;
}
body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: tomato;
}
 nav a {
  flex-wrap: wrap;
  flex-direction: column;
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  
  }

nav {
  width: 100%;
}

ul, li {
    flex: 1 0;
    padding: 12px;
    background-color: gainsboro;
    display: inline;
    line-height: 10px; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
   
  }

.section1 {
    flex: 1 0 200px;
    border-style: solid;
  padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: 2px;
  background-color: aqua;
 
}

#aboutme {
  position: relative;
  text-align: left;
  
}

#new {
  width: 100%;
  
}

#aboutme2 {
  padding-left: 20px;
}

#staging {
  display: inline-block;
  width: 25%;
  height: 25%;
  padding-left: 20px;
  
}

#imgofme {
  justify-content: space-around;
  display: block;
  box-sizing: 25px;
  position: relative;
  padding-left: 500px;
}
.section2 {
  flex: 1 0 200px;
  border-style: solid;
  padding: 10px;
  text-align: right;
  border-style: solid;
  border-width: 2px;
  background-color: aqua;

}

.section3 {
  flex: 1 0 200px;
  border-style: solid;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  background-color: aqua;

}

img {
  float: right;
  position: relative;
  right: 75px;
  height: 35%;
}

header{
    flex: 1 0 100px;
    border: 50px;
    border-color: aquamarine;
    text-align: end;
  }

  #aboutmeli{
    text-align: left;
    background-color: tomato;
    font-weight: 100%;
    text-decoration: wavy;
    width: 25%;
    height: 35%;
    padding-left: 20px;
    line-height: 20px;
  }
footer{
    flex-wrap: nowrap;
    text-align: center;
    position: absolute;
    bottom: 5px;
    margin-top: 10px;
    width: 100%;
    background-color: gray;
}

#footer{ 
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
  position: absolute;
}
.main {

  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    justify-content: space-around;
  }
}